/public/hot
/public/storage
/storage/*.key
/storage/debugbar/
/vendor
/coverage
/bootstrap/cache
.env
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.prueba.debug
Dockerfile
docker-compose.yml
nginx/
php/
.DS_Store
.editorconfig
.idea
/nbproject/
.vscode
.php_cs
.gitattributes
.phpunit.result.cache
.styleci.yml
composer.lock


